@import "reset";

$bgclr: #ffb646;
$bggrey: #f3f4f5;
$bgred:#fd6447;

// https://codepen.io/MadeByMike/pen/vNrvdZ
@mixin interpolate($properties, $min-screen, $max-screen, $min-value, $max-value) {
    & {
        @each $property in $properties {
            #{$property}: $min-value;
        }

        @media screen and (min-width: $min-screen) {
            @each $property in $properties {
                #{$property}: calc-interpolation($min-screen, $min-value, $max-screen, $max-value); 
            }
        }

        @media screen and (min-width: $max-screen) {
            @each $property in $properties {
                #{$property}: $max-value;
            }
        }
    }
}

// Requires the calc-interpolation function which can also be used independently

@function calc-interpolation($min-screen, $min-value, $max-screen, $max-value) {
    $a: ($max-value - $min-value) / ($max-screen - $min-screen);
    $b: $min-value - $a * $min-screen; 

    $sign: "+";
    @if ($b < 0) {
        $sign: "-";
        $b: abs($b);
    }
    @return calc(#{$a*100}vw #{$sign} #{$b});
}

body {
    // scss comment
    font-family: -apple-system,SF UI Text,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
    font-size: 0.9rem;
    line-height: 1.5;
    color: #666;
}

html { // delete me!
    @include interpolate(font-size, 320px, 420px, 12px, 16px);
    .wrapper {
        // sample image
        &::before { 
            content: '';
            position: absolute;
            top: 0; left: 0; bottom: 0; right: 0;
            background: url(./images/bg.png) no-repeat center 0;
            background-size: 375px auto;
            z-index: -1;
            opacity: 0.4;
        }
    }
    .header {
        border-bottom: 1px solid #F00;
        font-size: 1em;
    }
    .overview {
        //display: none;
    }
    .action {
        //display: none;
    }
    .broadcast {
        //display: none;
    }
}

a {
    text-align: center;
    text-decoration: none;
}

i {
    display: inline-block;
    background-size: 100% auto;
}

.Flex_ul {
    list-style: none;
    display: flex;
}

.wrapper {
    position: relative;
    max-width: 420px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    .mainview {
        flex: 1;
        overflow-y: scroll;
        background: $bggrey;
    }
}


.header {
    height: 3.87rem;// 55px
    background: $bgclr;
    padding: .7rem;// 10px
    h2 {
        color: #FFF;
    }
}
.overview {
    background: $bggrey;
    padding: .7rem;// 10px
    position: relative;

    .bg {
        content: '';
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 30%;
        background: $bgclr;
    }

    .rounded {
        border-radius: 1em;// 10px
        position: relative;
        overflow: hidden;
    }

    .up {
        background: #FFF;
        padding: 1em 1rem;// 10px 15px
        color: #999;
        .row1 {
            display: flex;
            span:first-child {
                flex: 1;
            } 
            span:last-child {
                color:#488600;
            }
            i {
                width: 1rem;// 15px
                height: 1rem;
                vertical-align: -.2em;// 2px
            }
            i.health {
                background-image: url(./images/jiankang@2x.png);
                margin: 0 0 0 .5rem;// 7px
            }
            i.refresh {
                background-image: url(./images/refresh@2x.png);
                margin: 0 .5rem 0 0;
            }
        }
        .row2 {
            font-size: 2.5rem;// 36px
            color: #fe9b3e;
            padding: .3em 0;//  3px
        }
        .row3 {
            display: flex;
            span {
                flex: 2;
                line-height: 2rem;// 27px
                }
            }
            a {
                display: inline-block;
                width: 4.6rem;// 65px
                line-height: 2rem;
                color: #fff;
                background-color: $bgred;
                border-radius: .4em;// 4px
            }
        }
    }

    .down {
        background: #fe9b3e;
        color: #FFF;
        text-align: center;
        padding: .5em .5em;
        ul {
            li {
                flex: 1;
                position: relative;
                &::after {
                    content: '';
                    position: absolute;
                    width: 1px;
                    height: 5em;// 25px
                    background: #fff;
                    right: 0;
                    top: 50%;
                    margin-top: -2.4em;// 12px
                }
                &:last-child {
                    &::after {
                        display: none;
                    }
                }
            }
        }

        b {
            display: block;
        }

        div {
            flex: 1;
        }
    }

.action{
    height: 5rem;// 72px
    padding: 1em;// 10px
    ul{
        li {
            flex: 1;
        }
    }
}
    .action a{
      color:#6b6b6b;
      display: block;
      i {
          width: 2rem;// 30px
          height: 2rem;
      }
      i.cz {
          background-image: url(./images/cz@2x.png);
      }
      i.withdraw {
          background-image: url(./images/tk@2x.png);
      }
      i.tjskm{
          background-image: url(./images/tjskm@2x.png);
      }
      i.yqhy {
          background-image: url(./images/yqhy@2x.png);
      }
      b {
          display: block;
      }
    }

.broadcast {
    background: #fff;
    width: 100%;
    display: flex;
    font-size: 1rem;// 15px
    height: 2.3em;
    :first-child {
        width: 3.4em;// 48px
        i {
            width: 1.3em;
            height: 1.3em;
            margin: .42em .85em;
        }
        .gonggao {
            background-image: url(./images/gonggao@2x.png);
        }
    }
    .roll-note {
        flex: 1;
        span {
            text-align: center;
            line-height: 2.3em;
        }
    }
    :last-child {
        a {
            display: block;
            width: 3.4em;
            color: $bgclr;
            line-height: 2.3em;
            margin: 0 .42em;
        }
    }
}    

.information {
    width: 100%;
    height: 20rem;
    position: relative;
    padding: .7rem;
    .banner {
        border-radius: .4em;
    }
    .list {
        height: 14em;
        display: flex;
        margin: .5em 0;
        .list-item {
            .list-div {
                width: 8.6em;
                border-radius: .55em;
                overflow: hidden;
                font-size: 1em;
                h4 {
                    width: 8.6em;
                    height: 2.3em;
                    color: #fff;
                    background: #ffb646;
                    text-align: center;
                    display: table-cell;
                    vertical-align: middle;
                }
                div {
                    background: #fff;
                    padding: .15em .55em .78em;
                    margin: 0 auto;
                    li {
                        padding: .23em 0;
                        
                        .danger {
                            color: $bgred;
                        }
                        .success {
                            color: #488600;
                        }
                    }   
                }
            }
        }
        .list-side {
            width: 8.6em;
        }
        .list-middle {
            flex: 1;
            .list-div {
                margin: 0 auto;
            }
        }
    }
}    

.tabbar {
    background: #fff;
    padding: .4em;
    border-top: .5px solid #ccc;
    ul {
        //justify-content: space-around;
        li {
            flex: 1;
        }
        a {
            display: block;
            color: #666;
            i {
                width: 2em;
                height: 2em;
            }
            i.home {
                background-image: url(./images/home-normal@2x.png);
            }
            i.message {
                background-image: url(./images/message-normal@2x.png);
                position: relative;
            }
            i.team {
                background-image: url(./images/team-normal@2x.png);
            }
            i.mine {
                background-image: url(./images/mine-normal@2x.png);
            }

            span {
                display: block;
            }

            .dot {
                position: absolute;
                top: -.15em;
                right: -.78em;
                color: #fff;
                background-color: $bgred;
                width: 1rem;
                height: 1rem;
                border-radius: .55em;
                line-height: 1em;
                text-align: center;
            }
        }
    }   
} 